/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

  
table {
  border-collapse: collapse;
  border-spacing: 0; }

.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center; }

.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white; }

body {
  font-family: "Open Sans", Roboto, Arial, sans-serif; }

html,
body,
#root,
.app {
  height: 100%; }

#tqShowIP {
  display: none !important; }

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #161e2e; }

.buttons {
  display: flex;
  align-items: center; 
}
.wrapper {
  width: 100%;
  height: 100%;
  background: #161E2E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat{
  width: 800px;
  height: 600px;

}

#pc {
	margin-top: 1px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  padding: 5px 2px;
  box-sizing: border-box;
  cursor: pointer;
  width: 200px;
  background: #0391f4;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); }

#phone {
  margin-top: 1px;
  display: block;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  padding: 5px 2px;
  box-sizing: border-box;
  cursor: pointer;
  width: 200px;
  background: #f41600;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); }

  .backmob {
    margin-top: -2px;
    display: block;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 41px;
    text-decoration: none;
    position: absolute;
    width: 94.666%;
    left: 10px;
    top: 10px;
    background: #0391F4;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }
  .back {
    padding:4px 6px 4px 0 ;
    display: block;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    text-decoration: none;
    position: absolute;
    width: 200px;
    left: 20px;
    top: 20px;
    background: #0391F4;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }
@media (max-width: 1024px) {
  .buttons {
    flex-direction: column; }
  #phone {
    margin-left: 0px;
    margin-top: 10px; } }
