@import "components/variables";
@import "components/reset";

@import "components/app";
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #161e2e;
}
.buttons {
  width: 24%;
  display: flex;
  align-items: center;
}
#pc {
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #0391f4;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
#phone {
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #f41600;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
  background: #161e2e;
}





@media (max-width: 414px) {
  .buttons {
    flex-direction: column;
  }
  #phone {
    margin-left: 0px;
    margin-top: 10px;
  }
  
}
